
@import "../../../Global.css";

.NavbarContainer{
    width: 100%;
    max-height: 8vh;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: var(--bg-color);
}

.logoContainer{
  width: 70px;
  height: 8vh;
  padding: 4px 0px;  
}

.logo{
    width: 100%;
    /* height: 100%; */
}


.column{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    gap:25px;
}
.menuContainer{
    min-width: 35%;
    height: 100%;
    /* margin-top: 10px; */
    
}

.listContainer{
    width: 100%;
    height: 8vh;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-between;
}

.menu{
  font-size: medium;
  align-self: flex-end;
  height: min-content;
  color:var(--high-text);
  cursor: pointer;
}

.menu:hover{
    color: var(--high2-color);
}

.options{
    display: flex;
    width:40%;
}

.searchBox{
    width: 50%;
    height: 30px;
    align-self: flex-end;
    background-color: rgba(255,255,255,0.3);
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: var(--text-color);
    letter-spacing: 1.7px;
    padding: 0 8px;
}

.searchIcon{
    color: var(--text-color);
}

.searchBox:focus{
    border: none;
    outline: none;
}

.searchbtn{
    width:30px;
    height: 30px;
    align-self: flex-end;
    background: rgba(255,255,255,0.3);
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.subcribeBtn{
    height: 30px;
    width: 8%;
    margin: 0 3%;
    align-self: flex-end;
    border: none;
    font-size: 18px;
    padding-top: 4px;
    border-radius: 3px;
    background-color: var(--high2-color);
    transition: all .3s ease;
    overflow: hidden;
}

.subcribeBtn:hover{
    min-width: 20%;
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
    display: flex;
    font-size:small;
    padding-top: 8px;
    color: var(--text-color);
    border: 1px solid var(--text-color);

}

.loginBtn{
    width: 18%;
    height: 30px;
    margin-right: 3%;
    align-self: flex-end;
    border-radius: 3px;
    padding: 2px 0;
    background-color: var(--high-text);
    color: var(--text-color);
    font-size:small;
    letter-spacing: 1.7px;
    border: none;
    font-weight: 500;
    transition: all .3s ease;
}

.loginBtn:hover{
    background-color: rgba(255,255,255,0.3);
    border: 1px solid var(--text-color);
}

.bellIcon{
    margin:0 4px;
}