
@import "../../../Global.css";

.sideContainer{
   width: 15%;
   min-width: 150px;
   height: 88vh;
   overflow:auto;
   position: fixed;
   top:10vh;
   /* margin-top: 10vh; */
   background-color: rgba(42,51,60,0.3);

}

.sideContainer::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
  }
  
  .sideContainer::-webkit-scrollbar-track {
    background: var(--second-bg-color);        /* color of the tracking area */
  }
  
  .sideContainer::-webkit-scrollbar-thumb {
    background-color: var(--high-text);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 0px solid var(--text-color);  /* creates padding around scroll thumb */
  }

/* .sideContainer::-webkit-scrollbar{
    width:20px;
    color:var(--high-text)
} */

.listContainer{
    padding: 0 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.list{
    font-size: medium;
    padding: 5px 10px;
}

.list:hover{
    opacity: 2;
    font-weight: 700;
    border-left: 1px solid var(--high-text);
    cursor: pointer;
    position: relative;
}

.content{
    width: 80%;
    min-height: 90vh;
    /* max-height: 90vh; */
    position: absolute;
    top:10vh;
    left:17%;
    z-index: -1;
}

.box{
    width: 200px;
    height: 200px;
    background-color: black;
}

.optionContainer{

    list-style:"-  ";
}

.option{
    font-size: 14px;
    margin:15px 5px;
    opacity: .6;
    text-align: start;
}

.optionContainer:hover{
    list-style: circle;
}

.option:hover{
    cursor: pointer;
    opacity: 1;
    color: var(--high2-color);
}