
@import "../../../Global.css";

.recommendedContainer{
    width: 100%;
    position: relative;
    margin: 30px 0;
    background-color: var(--bg-color);
}

.title{
    margin: 0 20px;
    font-size: 18px;
    margin-bottom: 20px;
}

.card{
    width: 90%;
    margin: 0 auto;
}

.img{
    width: 100%;
    height: 40vh;
}

.name{
    font-size: 14px;
    text-align: center;
}