
@import "../../../Global.css";

.slideContainer{
    width: 100%;
    max-height: 80vh;
}



.slidingContain{
    width: 100%;
    max-height: 80vh;
    overflow: hidden;
    position: relative;
}

.slideImg{
    width:100%;
    height: 80vh;
}

.detailContains{
    position: absolute;
    width: 30%;
    height: 200px;
    padding: 20px 0px 10px 20px;
}

.title{
    font-size: 22px;
    color: var(--text-color);
    margin-bottom:8px;
    
}

.ottName{
    font-size: 10px;
    color: var(--text-color);
    opacity: .8;
    margin-left: 5px;
    margin-bottom: 8px;
}

.imdb{
    height: 20px;
    font-size: 12px;
    color: green;
    font-weight: 500;
}

.year{
    height: 20px;
    font-size: 12px;
    color: var(--text-color);
    margin: 0 10px;
}

.age{
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, .3);
    color: var(--text-color);
    padding: 2px 5px;
}

.btnContainer{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.watchBtn{
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: none;
    display: flex;
    letter-spacing: 1.7px;
    /* justify-content: center; */
    padding: 8px 10px;
    background-color: transparent;
    border: 1px solid var(--high-text);
    color: var(--high-text);
    transition: all .3s ease;
}

.watchBtn:hover{
    background-color: var(--high-text);
    color: var(--text-color);
}

.laterBtn{
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: none;
    display: flex;
    letter-spacing: 1.7px;
    /* justify-content: center; */
    padding: 8px 10px;
    background-color: rgba(255, 255, 255, .3);
    color: var(--text-color);
    transition: all .3s ease;
}

.laterBtn:hover{
    background-color: var(--text-color);
    color:var(--bg-color)
}

.playCircle{
    margin: -2px 10px;
}

.plusCircle{
    margin: -2px 10px;
}

.videoContainer{
    position: relative;
    height: 80vh;
    background-color: rgba(255, 255, 255, .01);
}

.videoBg{
    position:absolute;
    z-index:10;
    height:80vh;
    background-color:rgba(255, 255, 255, .01);
}

.closeIcon{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: var(--text-color);
    z-index: 99;
    cursor: pointer;
}
